/* Google Font: Barlow (600/Semibold) */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

/* Google Font: Fraunces (700/Bold and 900/Black) */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --softRed: #fe7867;
  --yellow: #fad400;
  --darkDesaturatedCyan: #25564b; /* graphic design text */
  --darkBlue: #19536b; /* photography text */
  --darkModerateCyan: #458c7e; /* footer */
  --veryDarkDesaturatedBlue: #23303e;
  --veryDarkGrayishBlue: #5a636c;
  --darkGrayishBlue: #818498;
  --grayishBlue: #a7abae;
  --white: #ffffff;
}

body {
  font-size: 1.125rem;
}

.header-bg {
  background: url('./assets/images/mobile/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 565px) {
  .header-bg {
    background: url('./assets/images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* Mobile Menu */

.mobile-menu {
  @apply absolute flex min-[565px]:hidden flex-col justify-start 
  w-full max-w-[310px] min-[480px]:max-w-[400px] h-[330px] top-20 
  mx-auto left-0 right-0 z-10
}

.mobile-menu-div {
  @apply mx-auto w-full h-[300px] bg-white shadow-lg 
  rounded-b rounded-tl
}

.mobile-menu-link {
  @apply cursor-pointer font-["Barlow"] text-[#5a636c] text-lg
  hover:underline hover:underline-offset-2
}

.right-triangle {
  width: 0;
	height: 0;
	border-bottom: 33px solid white;
	border-left: 33px solid transparent;
}

.mobile-menu-button {
  @apply bg-[#fad400] px-6 py-3 rounded-3xl font-["Fraunces"]
  hover:bg-orange-400 duration-[300ms]
}

/* Navbar for screen sizes >= 565px */

.navbar-link {
  @apply text-white mr-6 cursor-pointer sm:text-xl font-["Barlow"]
  hover:underline hover:underline-offset-2
}

.navbar-button {
  @apply bg-white hover:bg-opacity-30 duration-[400ms] 
  hover:text-white px-4 py-3 rounded-3xl font-["Fraunces"]
}

.fabars {
  @apply text-white hover:scale-125 duration-[400ms] 
  cursor-pointer min-[565px]:hidden
}

/* Arrow */

.arrow-container {
  @apply w-fit flex justify-center mx-auto relative cursor-pointer
}

.arrow-body {
  @apply w-[5px] h-[120px] bg-white rounded-t
}

.right-arrow-head {
  @apply w-[5px] h-10 bg-white absolute bottom-0 rotate-45 
  origin-bottom-left
}

.left-arrow-head {
  @apply w-[5px] h-10 bg-white absolute bottom-0 rotate-[-45deg]
  origin-bottom-right
}

/* Main component */

/* Transform */

.transform-container {
  @apply w-full flex flex-col min-[565px]:grid 
  min-[565px]:grid-cols-2
}

.transform-text-div {
  @apply w-full min-[565px]:order-first flex justify-center 
  gap-8 flex-col items-center text-center px-4 xl:px-16 
  2xl:px-24
  py-12 min-[565px]:text-left min-[565px]:items-start
}

.transform-text-shadow::after {
  content: '';
  @apply absolute bg-[#fad400] w-32 h-3 top-5 
  left-0 bg-opacity-40 rounded-2xl
}

.learn-more {
  @apply uppercase font-["Fraunces"] transform-text-shadow relative
  xl:text-2xl
}

/* Standout */

.standout-container {
  @apply w-full flex flex-col min-[565px]:grid 
  min-[565px]:grid-cols-2 
}

.standout-text-div {
  @apply w-full flex justify-center gap-8 flex-col items-center 
  text-center px-4 xl:px-16 2xl:px-24
  py-12 min-[565px]:text-left min-[565px]:items-start
}

.stand-out-text-shadow::after {
  content: '';
  @apply absolute bg-[#fe7867] w-32 h-3 top-5 
  left-0 bg-opacity-40 rounded-2xl
}